@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Plus Jakarta Sans', sans-serif;
	scroll-behavior: smooth;
}
body {
    background-color: rgb(255, 255, 255);
}
a, a:link, a:hover {
    /* color: black; */
    text-decoration: none;
}

/* a:visited {
    color: #ffffff;
} */


::-webkit-scrollbar {
    width: 20px;
}
    
::-webkit-scrollbar {
    background: none !important;
}
    
::-webkit-scrollbar-thumb {
    background-color:#1f1f1f;
    border: 6px solid transparent;
    background-clip: content-box;
}

/* scroll Top/Up Button */
.scroll-top {
	z-index: 100;
	height: 40px;
	width: 40px;
	background-color: white;
	position: fixed;
	bottom: 10px;
	right: 10px;
	border-radius: 10px;
	/* box-shadow: 0px 0px 10px rgba(22, 22, 22, 0.226); */
	/* hover effect default */
	transform: scale(0.9);
	transition: 0.3s ease-in-out transform;
	/* for centering the icon */
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.scroll-top:hover {
	color:#000000 ;
	transform: scale(1);
}


/* Navigation */

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
	z-index: 999;
	transition: 0.6s;
	font-family: inherit;
}
  
header.sticky{
	background-color: #000000;	padding: 15px 100px;
	background: rgba(255, 255, 255, 0.199);
	-webkit-backdrop-filter: saturate(180%) blur(25px);
	backdrop-filter: saturate(180%) blur(25px);
	font-family: inherit;
}
  
header .brand{
	font-size: 20px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 2px;
	font-family: inherit;
}
  
header .menu{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
  
header .menu a{
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #000000;
	margin: 0 30px;
	padding: 5px 15px;
	/* text-transform: uppercase; */
	border-radius: 15px;
	transition: 0.3s;
	transition-property: color, background;
}
  

.header-link-1:hover{
	color: #ffae00;
	transition: 0.5s;
	font-weight: 900;
}

.header-link-2:hover{
	color: #A41DE8;
	transition: 0.5s;
	font-weight: 900;
}

.header-link-3:hover{
	color: #FF41CA;
	transition: 0.5s;
	font-weight: 900;
}

.header-link-4:hover{
	color: #1ABCFE;
	transition: 0.5s;
	font-weight: 900;
}


header .btn{
	font-size: 25px;
	cursor: pointer;
	color: #000000;
	display: none;
}

@media (max-width: 1024px) {
	header .btn{
	  display: block;
}
  
	header .menu.active{
	  right: 0;
}
  
header .menu{
	position: fixed;
	background: #4e4344;
	flex-direction: column;
	min-width: 400px;
	height: 100vh;
	top: 0;
	right: -100%;
	padding: 80px 50px;
	transition-property: right;
	transition: 0.5s;
}
  
header .menu .close-btn {
	position: absolute;
	top: 0;
	left: 0;
	margin: 25px;
}
  
header .menu a{
	display: block;
	font-size: 16px;
	margin: 20px;
	padding: 0 15px;
	}
}
  
@media (max-width: 580px) {
	.section-main h1{
	  font-size: 50px;
	  line-height: 60px;
	}
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    height: 50vh;
}

.title img {
	width:40%;
}

.container  {
    display: flex;
    flex-direction: row;
    width: 70vw;
	margin: 0 auto;
	/* max-width: 1000px; */
    font-size: 1.5rem;
}

h1  {
    display: flex;
	justify-content: center;
    flex-direction: row;
    height: 10vh;
	margin: 0 auto;
	/* max-width: 1000px; */
	padding: 1rem 0 1rem 0;
    font-size: 3rem;
}

.skills, .live-btn {
    display: flex;
    flex-direction: row;
	justify-content: center;
    width: 70vw;
	margin: 0 auto;
	/* max-width: 1000px; */
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
}


.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
	width: 70vw;
    padding-top: 6rem;
	margin: 0 auto;
	/* max-width: 1000px; */
    font-size: 1.5rem;
}

.info{
    display: flex;
    flex-direction: column;
}

.concept {
    line-break: auto;
    /* line-height: 35px; */
    padding: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.concept-1 {
	text-align: center;
    line-break: auto;
    /* line-height: 35px; */
    padding: 10px 0 10px 0;
    font-size: 30px;
    font-weight: 500;
}

.blurb {
    line-break: auto;
    /* line-height: 35px; */
    padding: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.blurb-1 {
	text-align: center;
    line-break: auto;
    /* line-height: 35px; */
    padding: 1rem 0 8rem 0;
    font-size: 30px;
    font-weight: 500;
}


.friendcard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	padding: 2rem 0 2rem 0;
}

.friendcard img{
    width: 10%;
}
.gif {
    display: none;
}
  
.giftext {
    z-index:99;
    color: black;
}
  
.giftext a {
    color: black;
    text-decoration: none;
 
}

.giftext:hover ~ .gif {
    display: block;
    /* position: absolute; */
    z-index: 2
}

button{
    color: white;
}


.app-btn {
    display: flex;
    color: #ffffff;
    padding: 15px;
    font-size: 15px;
    font-family: inherit;
    font-weight: 500;
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.app-btn a:visited {
    color: #ffffff;
}

.app-btn:hover {
    font-weight: 900;
}
.notice{
	font-size: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
	align-items: center;
    padding: 5rem 0 5rem 0;
}

/* Footer */

.pulse {
	-webkit-animation: pulse 2.5s infinite;
  animation: pulse 2.5s infinite;
  display: inline-block;
}

@keyframes pulse {
0% {
	-webkit-transform: scale(1);
	transform: scale(1);
}
	
14% {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

28% {
	-webkit-transform: scale(1);
	transform: scale(1);
}

42% {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

70% {
	-webkit-transform: scale(1);
	transform: scale(1);
	}
}

.footer {
    width: 100%;
  position: relative;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 35px;
  text-align: center;
  color:black;
  font-weight: 700;
  font-size: 15px;
  font-family: inherit;
}
        
     
.footer a:hover {
  color: #367900;
  transition: 0.5s ease;
}

.footer a:visited {
    color: #000000;
}