@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Plus Jakarta Sans', sans-serif;
	scroll-behavior: smooth;
}
body {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 20px;
}
    
::-webkit-scrollbar {
    background: none !important;
}
    
::-webkit-scrollbar-thumb {
    background-color:#1f1f1f;
    border: 6px solid transparent;
    background-clip: content-box;
}


img {
	width: 100%;
	height: 100%;
}

a {
	color: #1f1f1f;
	text-decoration: none;
}


a, a:link, a:visited, a:hover {
    color: #000000;
}


/* scroll Top/Up Button */
.scroll-top {
	z-index: 100;
	height: 40px;
	width: 40px;
	background-color: white;
	position: fixed;
	bottom: 10px;
	right: 10px;
	border-radius: 10px;
	transform: scale(0.9);
	transition: 0.3s ease-in-out transform;
	/* for centering the icon */
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.scroll-top:hover {
	color:#000000 ;
	transform: scale(1);
}


/*Section Headers*/
.section-heading {
	font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 900;
	color: rgb(255, 255, 255);
	letter-spacing: 0.2rem;
	position: relative;
	margin-bottom: 5rem;
	font-family: inherit;
}
.section-heading-1 {
	font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 900;
	color: #A41DE8;
    position: relative;
	margin-bottom: 3rem;

}
.section-heading-2 {
	font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 900;
	color: #FF41CA;
    position: relative;
	margin-bottom: 3rem;
}


.section-heading-3 {
	font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 900;
	color: #1ABCFE;
	position: relative;
	margin-bottom: 3rem;
}


/* Responsive */

/* Mobile devices */
@media only screen and (max-width: 480px) {
    .section-heading {
        font-size: clamp(1.2rem, 5vw, 2.5rem); /* Adjust font size for mobile screens */
    }
    .section-heading-1 {
        font-size: clamp(1.2rem, 5vw, 2.5rem); /* Adjust font size for mobile screens */
        margin-bottom: 2rem; /* Adjust margin for mobile screens */
    }
    .section-heading-2 {
        font-size: clamp(1.2rem, 5vw, 2.5rem); /* Adjust font size for mobile screens */
        margin-bottom: 2rem; /* Adjust margin for mobile screens */
    }
    .section-heading-3 {
        font-size: clamp(1.2rem, 5vw, 2.5rem); /* Adjust font size for mobile screens */
        margin-bottom: 2rem; /* Adjust margin for mobile screens */
    }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 767px) {
   
}

/* Laptops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
}

/* Larger screens */
@media only screen and (min-width: 1024px) {
    
}

/* Navigation */

#navigation {
	position: fixed;
	right: 50px;
	height: auto;
	top: 20px;
	z-index: 100;
}
#navigation .nav-icon {
	width: 50px;
	height: 50px;
    border-radius: 10px;
	margin: 0 auto;
	margin-right: 0;
	background-color: #131313;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#navigation .nav-icon svg {
	width: 80%;
	color: white;
}
#nav-content {
	position: fixed;
	right: 0;
	width: 80%;
	max-width: 800px;
	height: 100%;
	z-index: 100;
	background-color: #1f1f1f;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform: translateX(100%);
	transition: 0.3s ease transform;
}
#nav-content.show {
	background-color: #1f1f1f;
	transform: translateX(0);
	box-shadow: -6px 0px 29px 7px #3030308e;
}
#nav-content .section-heading {
	text-align: left;
}
#nav-content .section-heading::before {
	content: 'Menu';
	text-align: left;

}
#nav-content .wrapper {
	width: 70%;
	position: relative;
}
#nav-content ul {
	list-style: none;
	text-align: left;
}
#nav-content ul li {
	margin-bottom: 2rem;
}
#nav-content ul li:hover {
	list-style: none;
	text-align: left;
	font-weight: 900;
}
#nav-content ul li a {
	display: inline-block;
	width: 100%;
	color: white;
	font-size: 5rem;
	font-family: 'plus jakarta sans';
}

#nav-content .close-btn {
	position: absolute;
	left: 10px;
	top: 10px;
	color: white;
	width: 40px;
	height: 40px;
	background-color: #6cd2fa;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 0.3s ease background-color;
}
#nav-content .close-btn:hover {
	background-color: rgb(216, 29, 23);
	cursor: pointer;
}
#nav-content .close-btn svg {
	width: 80%;
}
@media only screen and (max-width: 768px) {
	#navigation {
		right: 10px;
		top: 10px;
	}
	#nav-content nav ul li a::after {
		display: none;
	}
	#nav-content .section-heading {
		text-align: right;
		margin-bottom: 5rem;
	}
	#nav-content .section-heading::before {
		text-align: right;
	}
	#nav-content nav ul {
		text-align: right;
	}
	#nav-content nav ul li a {
		font-size: 2.5rem;
	}
	#nav-content .wrapper {
		width: 90%;
	}
}


.container, .section {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
    /* max-width: 1000px; */
    font-size: 1.5rem;
}

/* .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 60vh;
} */


.pp-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;	
}

.pp-info p {
	text-align: center;
	line-break: auto;
	/* line-height: 35px; */
	padding: 10px 0 10px 0;
	font-size: 35px;
	font-weight: 500;
}

.section p {
	text-align: center;
	line-break: auto;
	line-height: 35px;
	padding: 10px 0 10px 0;
	font-size: 20px;
	font-weight: 500;
}

.pp-info img {
	width: 50%;
	transition: 0.5s;
	animation-delay: 0.1s;
    padding-top: 15px;
}

.section img {
	width: 100%;
	transition: 0.5s;
	animation-delay: 0.1s;
    padding-top: 15px;
}


.pp-brand {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* padding: 3rem; */
    /* flex-wrap: wrap; */
}


.pp-assets  {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 4px;
	padding-top: 3rem;
}

.pp-visuals  {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	/* grid-column-gap: 20px;
	grid-row-gap: 4px; */
	padding: 3rem;
}


/* Mobile devices */
@media (max-width: 767px) {
    .pp-visuals {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 1.5rem;
    }
}

/* Tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {
    .pp-visuals {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 2rem;
    }
}

/* Laptop and desktop devices */
@media (min-width: 1024px) {
    .pp-visuals {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 3rem;
    }
}

.fadein {
	animation: fadeIn ease 5s;
	-webkit-animation: fadeIn ease 5s;
	-moz-animation: fadeIn ease 5s;
	-o-animation: fadeIn ease 5s;
	-ms-animation: fadeIn ease 5s;
  }
  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }




h1 {
	padding-top: 5rem;
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
    /* max-width: 1000px; */
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
}

.links a{
	color: #ffffff;
}

.app-btn {
    display: flex;
    color: #ffffff;
    padding: 15px;
    font-size: 15px;
    font-family: inherit;
    font-weight: 500;
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.app-btn:hover {
    font-weight: 900;
}

/* Footer */

.pulse {
	-webkit-animation: pulse 2.5s infinite;
  animation: pulse 2.5s infinite;
  display: inline-block;
}

@keyframes pulse {
0% {
	-webkit-transform: scale(1);
	transform: scale(1);
}
	
14% {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

28% {
	-webkit-transform: scale(1);
	transform: scale(1);
}

42% {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

70% {
	-webkit-transform: scale(1);
	transform: scale(1);
	}
}

.footer {
	width: 100%;
  position: relative;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 15px;
}
  
.footer a {
	color: #000;
}
     
.footer a:hover {
	background: linear-gradient(to left, #1ABCFE 20%, #FF41CA 40%, #FF41CA 60%, #1ABCFE 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;

    transition: mask-position 1.5s ease,-webkit-mask-position 1.5s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}
